@{

    if (Session["id"] == null)
    {
        Response.Redirect("~/SignInUp.cshtml");
    }

    int dashboardrequest = 0;   //0:   nog niet in huis     1:    result sorting     2:    default/...

    Layout = "~/_SiteLayout.cshtml";
    if (Session["house"] == null)
    {
        Page.Title = "Find your house";
        // dashboardrequest = 0;
    }
    else
    {
        if (Request.QueryString["dashboard"] == "result")
        {
            Page.Title = "Your house is...";
            dashboardrequest = 1;
        }
        else
        {
            dashboardrequest = 2;
        }
    }
    Page.Title = "Home Page";
}
@switch (dashboardrequest)
{
    case 0:     ///nog niet in huis
        <div class="flag flag--middle muggleflag">
            <div class="flag__container ">
                <div id="opmaak" class="flag__top">
                    <br /><br /><br /><br /><h1>You're a muggle</h1>
                    <br /><p>Go and finish the sorting test and see in which house you belong!</p>
                    <br /><p id="blockquote">"It is our choices, @Session["username"], that show what we truly are, far more than our abilities."</p>
                    <br /><a type="button" href="~/Sorting.cshtml" class="btn btn-secondary">Do the test!</a>
                </div>
                <div class="flag__bottom--pointy"></div>
            </div>
        </div>
        break;
    case 1:     ///result sorting
        <div class="flag flag--middle">
            <div class="flag__container ">
                <div id="opmaak" class="flag__top">
                    <br /><br /><br /><br /><h1>Your a @Session["house"]</h1>
                    <br /><p>You can now enjoy all the features of the site </p>
                    <br /><a type="button" href="~/forum.cshtml" class="btn btn-secondary">Go to your house!</a>
                </div>
                <div class="flag__bottom--pointy"></div>
            </div>
        </div>
        break;
    case 2:
        <h2>Welcome to @Session["house"]</h2>
        <p>Ye'r a wizard, @Session["username"]</p>
        <div class="flag flag--middle">
            <div class="flag__container ">
                <div id="opmaak" class="flag__top">
                    <br /><br /><br /><br /><h1>Welcome to @Session["house"]</h1>
                    <br /><p>Ye'r a wizard, @Session["username"].</p>
                </div>
                <div class="flag__bottom--pointy"></div>
            </div>
        </div>
        break;

}
