@{
    //chech of je al ingelogd bent
    if (Session["id"] == null)
    {
        Response.Redirect("~/SignInUp.cshtml?request=login");
    }
    int id = Convert.ToInt32(Session["id"]);

    //subjectpost needs
    string topictitle = "";
    string catgo = "";
    string content = "";
    string succes = "";
    //getpost needs
    Topic topic = null;
    List<Post> posts = null;
    //new post needs
    int topicid = 0;
    bool postsucces = false;
    //topics 
    List<Topics> topics = null;

    //type post
    if (IsPost)
    {
        string postform = Request.Form["postform"];

        if (postform == "subject" && !Request.Form["inhoud"].IsEmpty())
        {
            topictitle = Convert.ToString(Request.Form["subject"]);
            catgo = Convert.ToString(Request.Form["catgo"]);
            content = Convert.ToString(Request.Form["inhoud"]);

            Topic newTopic = new Topic(topictitle, catgo, content, DateTime.Now, id);
            string newtopicid = Posts_handler.PostTopic(newTopic);
            Response.Redirect("~/Posts.cshtml?poststate=post&topicid=" + newtopicid);
        }
        else if (postform == "post" && Request.QueryString["topicid"] != null && !Request.Form["inhoud"].IsEmpty())
        {
            topicid = Convert.ToInt32(Request.QueryString["topicid"]);
            content = Request.Form["inhoud"];
            Post newpost = new Post(topicid, content, DateTime.Now, Convert.ToInt32(Session["id"]));
            Posts_handler.PostPost(newpost);
            postsucces = true;
        }
    }

    //page
    int PostPage = 0;   // 0: default/readsubjects    1: Subjectpost       2: readpost    3:    subject does not exist

    if (Request.QueryString["poststate"] == "subject")
    {
        PostPage = 1;
    }
    else if (Request.QueryString["poststate"] == "post" && Request.QueryString["topicid"] != null)
    {
        topicid = Convert.ToInt32(Request.QueryString["topicid"]);
        topic = Posts_handler.GetTopic(topicid);

        if (topic != null)
        {
            posts = Posts_handler.GetPost(topicid);
            PostPage = 2;
        }
        else
        {
            PostPage = 3;
        }
    } else
    {
        topics = Posts_handler.GetTopics();
        // default PostPage = 0
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";

}

<link href = "~/Stylesheets/Posts.css" rel="stylesheet" type="text/css" />

@switch (PostPage)
{
    case 0:
        <div class="container col-8">
            <div class="row " style="margin-bottom: 90px;"></div>
            <p style="color: white; background-color: darkcyan; text-align: center;"><a href="~/Posts.cshtml?poststate=subject"  style="color: white;"> make a new topic</a> </p>
            @if (topics.Count() != 0)
                {
                    <br />
                    foreach (Topics item in topics)
                    {
                        <!--  post  -->
                        <div class="container col-10 offset-1 mb-2 bg-dark text-white ">
                            <p class="row p-2">@Convert.ToString(item.id) - @item.title - @item.cat - @Convert.ToString(item.by)</p><br />
                            <a href="~/Posts.cshtml?poststate=post&topicid=@Convert.ToString(item.id)" class="btn">Go to topic!</a>
                        </div>
                    }
                }
            <div class="row" style="margin-bottom: 250px;"></div>
        </div>
        break;
    case 1:
        <div class="flag f-form">
            <div class="flag__container ">
                <div id = "opmaak" class="flag__top">
                    
                    <form method = "post" style="padding-top: 80px;">
                        <div class="form-group">
                            <br /><br /><label for="exampleFormControlInput1">Title</label>
                            <input name = "subject" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" value="@topictitle">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Category</label>
                            <select name = "catgo" class="form-control" id="exampleFormControlSelect1">
                                <option>Harry Potter films</option>
                                <option>Harry Potter books</option>
                                <option>Lore</option>
                                <option>Off topic</option>
                                <option>Spam</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Post</label>
                            <textarea name = "inhoud" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <input type = "hidden" name="postform" value="subject" />
                        <button type = "submit" class="btn btn-primary btn-lg">Post new topic</button>
                        <h3>@succes</h3>
                    </form>

                </div>
                <div class="flag__bottom"></div>
            </div>
        </div>

        break;
    case 2:
        <div class="container col-8">
            <div class="row " style="margin-bottom: 90px;"></div>
            @if (postsucces == true)
            {
                <p style="color: white; background-color: darkcyan; text-align: center;"> succes </p>
            }
            <div class="container col-12 mb-2 bg-danger text-white">
                <!-- subject -->
                <!--<div class="row .offset-md-4">-->
                    <h1 class="row p-2">@topic.title</h1><br />
                    <p class="row p-2">@topic.content</p><br />
                    <p class="row p-2" style="font-size: 15px; font-style: italic; color: black">@Convert.ToString(topic.date) - @topic.by - @topic.cat</p> <br />
                <!--</div>-->
            </div>
            @if (posts.Count() != 0)
            {
            <p class="bg-dark" style="background-color: darkcyan; text-align: center;"><a href="#newpost" style="color: white;"> make new post</a></p>
                <br />
                foreach (Post item in posts)
                {
                    <!--  post  -->
                    <div class="container col-10 offset-1 mb-2 bg-dark text-white ">
                        <!--<div class="row .offset-md-4">-->
                            <p class="row p-2">@item.content</p><br />
                            <p class="row p-2">@item.by - @Convert.ToString(item.date)</p><br />
                        <!--</div>-->
                    </div>
                }
            }
            <br />
            <!--new post-->
            <div class="container col-12 mb-2 text-white bg-dark" id="newpost">
                    
                <form method="post">
                    <h1 class="row p-2"> New post</h1>

                    <label class="row p-2" for="exampleFormControlTextarea1">Post</label>
                    <textarea name = "inhoud" class="form-control col-10 offset-1 p-2" id="exampleFormControlTextarea1" rows="3"></textarea>

                    <input type="hidden" name="postform" value="post" />
                    <input type="hidden" name="subjectid" value="@Convert.ToSingle(topicid)" />
                    <button type="submit" class="row p-2 btn btn-primary btn-lg">Post new post</button>
                </form>
            </div>
        <div class="row" style="margin-bottom: 250px;"></div>
    </div>
        break;
    case 3:
        <div id="register" class="flag--register" style="top: 0;">
            <div class="flag__container">
                <div class="flag__top container">
                    <div style="padding-top: 350px;"></div>
                    <h4 class="row">The topic your seaching for does not exist.</h4>
                    <a href="~/Posts.cshtml" class="btn">Go back to forum</a>
                </div>
                <div class="flag__bottom"></div>
            </div>
        </div>
        break;
}