@{
    //chech of je al ingelogd bent
    if (Session["id"] == null)
    {
        Response.Redirect("~/forum.cshtml");
    }
    int id = Convert.ToInt32(Session["id"]);

    //subjectpost needs
    string topictitle = "";
    string catgo = "";
    string content = "";
    string succes = "";
    //getpost needs
    Topic topic = null;
    List<Post> posts = null;
    //new post needs 
    int topicid = 0;
    bool postsucces = false;

    //type post 
    if (IsPost)
    {
        string postform = Request.Form["postform"];

        if (postform == "subject" && !Request.Form["inhoud"].IsEmpty())
        {
            topictitle = Convert.ToString(Request.Form["subject"]);
            catgo = Convert.ToString(Request.Form["catgo"]);
            content = Convert.ToString(Request.Form["inhoud"]);
            //validate toevoegen////////////////////////////
            Topic newTopic = new Topic(topictitle, catgo, content , DateTime.Now, id);
            string newtopicid = Posts_handler.PostTopic(newTopic);
            Response.Redirect("~/Posts.cshtml?poststate=post&topicid=" + newtopicid);
        } else if (postform == "post" && Request.QueryString["topicid"] != null && !Request.Form["inhoud"].IsEmpty())
        {
            topicid = Convert.ToInt32(Request.QueryString["topicid"]);
            content = Request.Form["inhoud"];
            Post newpost = new Post(topicid, content, DateTime.Now, Convert.ToInt32(Session["id"]));
            Posts_handler.PostPost(newpost);
            postsucces = true;
        }
    }

    //page 
    int PostPage = 0;   // 0: default/readsubjects    1: Subjectpost       2: readpost    3:    subject does not exist

    if (Request.QueryString["poststate"] == "subject")
    {
        PostPage = 1;
    } else if (Request.QueryString["poststate"] == "post" && Request.QueryString["topicid"] != null)
    {
        topicid = Convert.ToInt32(Request.QueryString["topicid"]);
        topic = Posts_handler.GetTopic(topicid);

        if (topic != null)
        {
            posts = Posts_handler.GetPost(topicid);
            PostPage = 2;
        } else
        {
            PostPage = 3;
        }
    }
    //else default PostPage = 0

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";

}
@switch (PostPage)
{
    case 0:
        //cool
        break;
    case 1:
        <div class="flag f-form">
            <div class="flag__container ">
                <div id="opmaak" class="flag__top">
                    
                    <form method="post">
                        <div class="form-group">
                            <br /><br /><label for="exampleFormControlInput1">Title</label>
                            <input name="subject" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" value="@topictitle">
                        </div>
                        <div class="form-group">
                            <br /><br /><label for="exampleFormControlSelect1">Category</label>
                            <select name="catgo" class="form-control" id="exampleFormControlSelect1">
                                <option>Harry Potter films</option>
                                <option>Harry Potter books</option>
                                <option>Lore</option>
                                <option>Off topic</option>
                                <option>Spam</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Post</label>
                            <textarea name="inhoud" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="postform" value="subject" />
                        <button type="submit" class="btn btn-primary btn-lg">Post new topic</button>
                        <h3>@succes</h3>
                    </form>

                </div>
                <div class="flag__bottom--pointy"></div>
            </div>
        </div>

        break;
    case 2:
        <div class="container col-8">
            @if (postsucces == true)
            {
                <p>succes</p>
            }

            <div class="row">   <!-- subject -->
                <h1>@topic.title</h1>
                <p>@topic.content</p>
                <p>@Convert.ToString(topic.date) - @topic.by - @topic.cat</p>
            </div>
            @if (posts.Count() != 0)
            {
                <a href="#newpost">make new post</a>
                <br />
                foreach (Post item in posts)
                {
                    <div class="row">       <!--  post  -->
                        <p>@item.content</p>
                        <p>@item.by - @Convert.ToString(item.date)</p>
                    </div>
                }
            }
            <br />
            <div id="newpost" class="row">
                <form method="post">
                    <h1>New post</h1>

                    <label for="exampleFormControlTextarea1">Post</label>
                    <textarea name="inhoud" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                    <input type="hidden" name="postform" value="post" />
                    <input type="hidden" name="subjectid" value="@Convert.ToSingle(topicid)" />
                    <button type="submit" class="btn btn-primary btn-lg">Post new post</button>
                </form>
            </div>
        </div>
        break;
    case 3:
        // subject does not exist!
        break;
}
