@using WebMatrix.Data;
@{
    //check of je al ingelogd bent
    if (Session["id"] != null)
    {
        Response.Redirect("~/forum.cshtml");
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Become a wizard";
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HarryPotter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    bool bericht1_1 = false;
    bool bericht1_2 = false;
    bool bericht1_3 = false;
    bool bericht1_4 = false;

    bool bericht2_1 = false;
    bool bericht2_2 = false;
    bool bericht2_3 = false;
    bool bericht2_4 = false;
    bool bericht2_5 = false;
    bool bericht2_6 = false;
    bool bericht2_7 = false;
    bool bericht2_8 = false;
    bool bericht2_9 = false;
    var role = "student";

    if (IsPost)
    {
        var submittype = Request.Form["submitbutton"];
        if (submittype == "login")
        {
            var email = Request.Form["email"];
            var password = Request.Form["password"];

            if (email == "" && password == "")
            {
                bericht1_2 = true;
            }
            if (email == "" && password != "")
            {
                bericht1_3 = true;
            }
            if (email != "" && password == "")
            {
                bericht1_4 = true;
            }
            if (email != "" && password != "")
            {
                string sel = "SELECT * FROM [user] WHERE email = @0 AND password = @1";
                var result = db.QuerySingle(sel, email, password);
                if (result != null)
                {
                    Session["id"] = result.Id;
                    Session["email"] = result.email;
                    Session["username"] = result.username;
                    Session["house"] = result.house;
                    Session["role"] = role;
                    Response.Redirect("~/forum.cshtml");
                }
                else if (email != "" && password != "")
                {
                    string sel2 = "SELECT * FROM [user] WHERE email = @0 AND password = @1";
                    var result2 = db.Query(sel2, email, password);
                    if (result2.Count() == 0 && email != "" && password != "")
                    {
                        bericht1_1 = true;
                    }
                }
            }
        }
        else if (submittype == "register")
        {
            var email = Request.Form["email"];
            var username = Request.Form["username"];
            var password = Request.Form["password"];
            var password1 = Request.Form["password1"];

            #region registerberichten
            if (email == "" && username == "" && password == "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username == "" && password == "" && password1 != "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username == "" && password != "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username != "" && password == "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email != "" && username == "" && password == "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username == "" && password != "" && password1 != "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username != "" && password == "" && password1 != "")
            {
                bericht2_1 = true;
            }
            else if (email != "" && username == "" && password == "" && password1 != "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username != "" && password != "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email != "" && username == "" && password != "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email != "" && username != "" && password == "" && password1 == "")
            {
                bericht2_1 = true;
            }
            else if (email == "" && username != "" && password != "" && password1 != "")
            {
                bericht2_2 = true;
            }
            else if (email != "" && username == "" && password != "" && password1 != "")
            {
                bericht2_3 = true;
            }
            else if (email != "" && username != "" && password == "" && password1 != "")
            {
                bericht2_4 = true;
            }
            else if (email != "" && username != "" && password != "" && password1 == "")
            {
                bericht2_5 = true;
            }
            if (email != "" && username != "" && password != "" && password1 != "")
            {
                string sel = "SELECT username FROM [user] WHERE username = @0";
                var result = db.Query(sel, username);
                if (result.Count() > 0 && username != "" && password != "")
                {
                    bericht2_7 = true;
                }
                else if (password != password1)
                {
                    bericht2_8 = true;
                }
                else
                {
                    string ins = "INSERT INTO [user] (email, username, password) VALUES(@0,@1,@2)";
                    db.Execute(ins, email, username, password);
                    bericht2_9 = true;
                    // Hier komt een redirect naar de main page maar voor nu staat er een bericht9 //
                }
            }
            #endregion
        }
    }
}
<link href="~/Stylesheets/Login.css" rel="stylesheet" type="text/css" />
<link href="~/Stylesheets/Register.css" rel="stylesheet" type="text/css" />

<div class="flag--login">
    <div class="flag__container ">
        <div class="flag__top">
            <a class="button-flag" style="display: none;">Join</a>
            <form class="loginform" method="post">
                <div>
                    <label for="Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="Email" name="email" placeholder="Email" value="@Request.Form["email"]">
                    </div>
                </div>
                <div>
                    <label for="Password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password" value="@Request.Form["password"]">

                    </div>
                    <input type="hidden" name="submitbutton" value="login" />
                    <div id="buttonlog">
                        <button type="submit" class="btn btn-secondary btn-lg">Log In</button>
                    </div>
                </div>
                @if (bericht1_1 == true)
                {
                    <h3>Wrong password.</h3>
                }
                @if (bericht1_2 == true)
                {
                    <h3>You should probably try to login.</h3>
                }
                @if (bericht1_3 == true)
                {
                    <h3>Email is empty.</h3>
                }
                @if (bericht1_4 == true)
                {
                    <h3>Password is empty.</h3>
                }
            </form>
        </div>
        <div class="flag__bottom">
        </div>
    </div>
</div>

<div class="flag--register">
    <div class="flag__container ">
        <div class="flag__top">
            <a class="button-flag" style="display: none;">Join</a>
            <form class="loginform" method="post">
                <div>
                    <label for="Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="Email" name="email" placeholder="Email" value="@Request.Form["email"]" />
                    </div>
                </div>

                <div>
                    <label for="Username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="Username" name="username" placeholder="Username" value="@Request.Form["username"]" />
                    </div>
                </div>
                <div>
                    <label for="Password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password" value="@Request.Form["password"]" />

                    </div>
                    <div>
                        <label for="Confirm-password" class="col-sm-9 col-form-label">Confirm Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="Confirm-password" name="password1" placeholder="Password" value="@Request.Form["password1"]" />
                        </div>
                    </div>
                    @if (bericht2_1 == true)
                    {
                        <h3>Meerdere inloggegevens zijn incorrect ingevoerd.</h3>
                    }
                    @if (bericht2_2 == true)
                    {
                        <h3>Email is empty.</h3>
                    }
                    @if (bericht2_3 == true)
                    {
                        <h3>Username is empty.</h3>
                    }
                    @if (bericht2_4 == true)
                    {
                        <h3>Password is empty.</h3>
                    }
                    @if (bericht2_5 == true)
                    {
                        <h3>Confirm Password is empty.</h3>
                    }
                    @if (bericht2_6 == true)
                    {
                        <h3>All fields are empty!</h3>
                    }
                    @if (bericht2_7 == true)
                    {
                        <h3>Username is already taken.</h3>
                    }
                    @if (bericht2_8 == true)
                    {
                        <h3>Passwords do not match.</h3>
                    }
                    @if (bericht2_9 == true)
                    {
                        <h4>Succesfully registered!</h4>
                    }
                    <input type="hidden" name="submitbutton" value="register" />
                    <div id="buttonlog">
                        <button type="submit" class="btn btn-secondary btn-lg">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="flag__bottom"></div>
    </div>
</div>